
/* Hiro Section */
#hero_h1{
    line-height: 1.5;
}

#hero_h1 span{
    font-size: 1.9rem;
}

#light_border{
    box-shadow: 0 0 1px 1px rgba(20, 184, 166, 0.4);
    border: 1px solid rgba(20, 184, 166, 0.1);
}

#home::before {
    background: rgba(49, 48, 48, 0.65); 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.hero-title h1, .hero-title strong { 
    color: #FFFFFF; 
    font-weight: 700; 
}

.hero-description p {
    color: #F0F0F0; 
    z-index: 2; 
    position: relative;
}


.btn-primary { 
    background-color: #14B8A6; 
    color: #FFFFFF;
    border: 2px solid #14B8A6; 
    padding: 12px 28px;
    border-radius: 8px; 
}


.btn-secondary { 
    background-color: transparent;
    color: #FFFFFF; 
    border: 2px solid #FFFFFF; 
    padding: 12px 28px;
    border-radius: 8px;
    margin-left: 15px;
}


@keyframes carousel-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.animate-carousel {
  animation: carousel-scroll 10s linear infinite;
}
.overflow-x-auto.w-full {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hides scrollbar for Chrome, Safari, and Edge (Webkit browsers) */
.overflow-x-auto.w-full::-webkit-scrollbar {
    display: none;
}

.animate-carousel.paused {
  animation-play-state: paused;
}



#custome_flex {
    display: flex;
    justify-content: space-between;
  }
#main{
  overflow-x: hidden;
}



@media screen and (max-width: 409px) {
  #max3{
     width: 100%;
  }
  #isFlex .i2y{
    padding-right: unset;
    padding-left: 0.5rem;
  }
  #hero_h1{
    font-size: 2.8rem;
  }
  #hero_h1 span {
    font-size: 1.6rem;
}
#pFor{
  font-size: 1rem;
}
} 

#btn1{
  font-size: 2rem;
}